body {
  background: #f9f7fe;
  font-family: "Josefin Sans", sans-serif;
  background: url("https://images.unsplash.com/photo-1505533542167-8c89838bb19e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  text-transform: capitalize;
}

.container {
  max-width: 740px;
  margin: 40px auto;
}

.weather-app {
  max-width: 720px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background: white;
  padding-top: 5px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(52, 40, 79, 0.09);
  border: 1px solid rgba(52, 40, 79, 0.09);
  padding-bottom: 20px;
  margin: 20px;
  align-items: center;

  background: #fff;
}

#city-img {
  border-radius: 8px;
  width: 300px;
  height: 180px;
  margin-right: 40px;
  margin-top: 20px;
}

#weather-icon {
  width: 70px;
  margin: 0;
  padding: 0;
}

.weather-today {
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 40px;
}

.weather-detail {
  display: flex;
  align-items: center;
}

#current-temperature {
  font-size: 45px;
  margin: 10px;
}

.units-link {
  text-decoration: none;
  cursor: default;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

.row {
  padding: 20px;
  padding-top: 0;
  justify-content: space-between;
}

.col-3 {
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(52, 40, 79, 0.09);
  border: 1px solid rgba(52, 40, 79, 0.09);
  padding: 20px;
  margin: 10px;
  background: #fff;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
span {
  font-size: 20px;
}

.col-8 {
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(52, 40, 79, 0.09);
  border: 1px solid rgba(52, 40, 79, 0.09);
  padding: 20px;
  margin-left: 10px;
  margin: 10px;
  background: #fff;
}

.forecast-title {
  font-size: 18px;
  font-weight: bold;
}

.form-control {
  margin: 0 auto;
  border: 1px solid rgba(52, 40, 79, 0.09);
}

.col-7 {
  flex-grow: 1;
}
