html {
  height: 100%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  color: #24292d;
  text-transform: capitalize;
  margin: 0 auto;
}

.container {
  max-width: 740px;
  margin: 40px auto;
}

.weather-app {
  max-width: 720px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background: white;
  padding: 5px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(52, 40, 79, 0.09);
  border: 1px solid rgba(52, 40, 79, 0.09);
  padding-bottom: 20px;
  margin: 20px;
  align-items: center;

  background: #fff;
}

.pixabay-img {
  border-radius: 8px;
  margin: 20px;
}
#weather-icon {
  width: 70px;
  margin: 0;
  padding: 0;
  filter: drop-shadow(2px 2px 2px rgb(66, 66, 66));
}

.weather-today {
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 40px;
}

#current-temperature {
  font-size: 45px;
  margin: 10px;
}

span a {
  text-decoration: none;
  cursor: default;
}

.active {
  color: #000;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

.col-3 {
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(52, 40, 79, 0.09);
  border: 1px solid rgba(52, 40, 79, 0.09);
  padding: 15px;
  padding-bottom: 0px;
  margin: 10px;
  background: #fff;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.col-8 .section-title {
  margin-bottom: 20px;
}
span {
  font-size: 18px;
}

.col-8 {
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(52, 40, 79, 0.09);
  border: 1px solid rgba(52, 40, 79, 0.09);
  padding: 15px;
  padding-bottom: 0px;
  margin-left: 10px;
  margin: 10px;
  background: #fff;
}

.forecast-title {
  font-size: 18px;
  font-weight: bold;
}

.forecast-icon {
  filter: drop-shadow(2px 2px 2px rgb(66, 66, 66));
}

.form-control {
  margin: 0 auto;
  border: 1px solid rgba(52, 40, 79, 0.09);
}
input::placeholder {
  color: #d1d0d0 !important;
}

.col-7 {
  flex-grow: 1;
}

.weather-forecast-max {
  font-size: 18px;
}

.weather-forecast-min {
  font-size: 18px;
  opacity: 0.6;
}

.row {
  margin: 10px;
  justify-content: space-between;
}
